body {
  body {
    overflow-x: hidden;
    /* Sprečava horizontalno pomeranje */
    overflow-y: auto;
    /* Omogućava vertikalno skrolovanje */
    width: 100%;
    margin: 0;
  }


}

/* Pozadinska slika sa plavim tonom i zamagljenjem */
.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../img/rain_on_glass1.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: hue-rotate(200deg) saturate(150%) brightness(80%) blur(1px);
  z-index: -1;

}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;
}


.grid {
  display: grid;
  gap: 10px;
  opacity: 1;
  z-index: 11;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  display: grid;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: opacity 0.5s ease-in, transform 0.5s ease, all 0.3s ease;
  box-shadow: 4px 4px 10px 4px rgba(1, 1, 1, 0.59), -4px -4px 10px rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  background: rgba(250, 250, 250, 0.42);
  z-index: 10;
  text-align: center;
  overflow: hidden;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.square i {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}


.img-fluid {
  max-width: 100%;
  height: auto;
}

.social-icons a i {
  margin: 0 5px;
}

.social-icons a {
  padding: 0 !important;
}

nav {
  padding-bottom: 5px !important;
  margin-bottom: auto;
}


.navbar-toggler {
  color: white;
}

.sqr {
  background: rgba(27, 7, 242, 0.026);
  border: 1px solid rgb(53, 86, 255);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgb(8, 1, 1);
  text-align: center;
  backdrop-filter: opacity(1) blur(3px);

}

i {
  width: 80%;
  height: 80%;
  color: white;
}

.sqr img {
  width: 100%;
  padding: 3px;
  border-radius: 20px;
}

.text-center {
  padding: 0;
}

#m-navbar-menu .navbar-nav .nav-item .nav-link {
  color: #d5c422 !important;
  font-size: x-large;
  padding: 0;
  /*border: 1px solid black;*/
  /*width: 30%;*/
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
}



#m-navbar-menu {
  width: 50% !important;
  align-items: center;
}


.modalk-dialog {
  margin: 20px;
}

.social-icons i:hover,
.social-icons i:active {
  color: #ffffff;
  background-color: #decb11;
  box-shadow: 0px 4px 15px rgba(254, 254, 255, 0.6), 0px 8px 20px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
  border-color: #ffffff;
}

.h5 {
  font-family: 'Pacifico', cursive;
  /*font-style: oblique;*/
}

#m-navbar-menu {
  color: #fd0404;
}

.navbar-toggler-icon {
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8), inset 0px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 20px;
  background-color: #f9f9f9;
}

.sqr:hover {
  box-shadow: inset 3px 2px 2px 0px rgb(1, 1, 1);
  background: rgba(19, 19, 225, 0.404);
}



@media (min-width: 300px) {
  #mreza-1 {
    height: 353.612px;
  }

  html {
    width: 100%;
  }

  .h5 {
    font-size: 4rem;
    color: #d5c422;
    padding: 1px 10px !important;
    border: 2px solid gold;
    border-radius: 20px;
    margin: 0 !important;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1); /* Polu-transparentna bela */
    backdrop-filter: blur(5px); /* Blur efekat */
    -webkit-backdrop-filter: blur(5px); /* Safari podrška */
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3); /* Blagi sjaj */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
   
  }
  .h5:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
  }

  .square {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 0px;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    overflow: visible;
    transform: perspective(0px) scale(0.97) skew(0deg);
    transition: ease-in;
    transform-style: preserve-3d;
    backdrop-filter: opacity(1) blur(0px);
  }

  .square:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);
  }


  .sqr svg {
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
  }

  .mrch {
    border-radius: 0;
    width: 100%;
    height: 100%;
    font-size: 34px;
    border-width: 0px;
    border-style: none;
  }

  .h6 {
    font-weight: bold;
    color: #ffd700;
    text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.7);
    line-height: 1.4;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Dancing Script', cursive;
    /*font-style: oblique;*/
  }

  .sqr p {
    display: none;
  }
}

.btn-primary {
  color: gold !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.64);
  border: 2px solid gold;
  background-color: rgba(0, 0, 255, 0.318)!important;

}

.btn-primary:hover {
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.9);
  transform: scale(1.05)
}

@media (min-width: 476px) {
  .sqr p {
    display: block;
    font-weight: bold;
    font-family: 'Alike Angular', serif;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
    overflow: hidden;
  }
}


@media (max-width: 765px) {
  body {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .sqr {
    overflow: hidden;
    overflow-x: visible;
    padding: 0px 0px 0px;
    border: 3px solid rgb(255, 255, 255);
    margin: 0px;
  }
}



@media (min-width: 992px) {
  #mreza-1 {
    margin: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    height: 100%;
    aspect-ratio: 1;
  }

  #main {

    /*width: 100vw;*/
  }

  #wind {
    display: flex;
    width: 100vw;
    overflow: visible;
    height: 100vh;
  }

  .col-lg-3 {
    max-width: 100% !important;
  }

  body {
    display: flex;
    height: 100vh;
  }

  section {
    width: 100%;
    background: transparent;
    opacity: 1;
    backdrop-filter: opacity(1);
    -webkit-backdrop-filter: opacity(1);
    transform: perspective(0px);
  }
}